
{{> head }}

{{> navbar }}

<div class="row">
<div class="col-8">
<h1> Hunter X - 2011</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat et fugiat vel, nobis aut porro? Consequuntur aspernatur facilis ipsa enim nemo laudantium molestiae repudiandae, quos eaque, debitis qui aperiam culpa.</p>
</div>

<div class="col-4">
<img src="/assets/img/hunterX.jpg" class="img-thumbnail">
</div>
</div>

{{> footer}}